
.App2{
    width: 100%;
    background-color: rgba(165, 166, 168, 0.5);
    height: 200px;
}
.App2-content{
    width: 100%;
    height: 100px;
}
.clock-text{
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 116, 217, 0.2);
    color: black;
}

.app3{
    height: 100px;
    width: 100%;
}
.click-btn{
    height: 32px;
    width: 100px;
}