.condition-wrap{
    border: 1px solid green;
    width: 100%;
    height: 200px;
    position: relative;
}
.c-block{
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    color: white;
    text-align: center;
}
.top{
    background-color: #5476ba;
}
.middle{
    background-color: #f0e589;
}
.bottom{
    background-color: #7DDC6F;
}
.btn-wrap button{
    margin-right: 40px;
    margin-top: 20px;
    float: right;
}